/*  your css code here. If applicable */
body{
	margin:0;
	padding:0px;
	text-align:center;
	
}

.code-container{
	display:flex;
	justify-content:center;
	gap:10px;
	margin-top:25px;
	
}
.code{
	width:60px;
	height:60px;
	border-radius:10px;
	border:2px solid #ccc;
	text-align:center;
	font-size:35px;
}
.code:focus{
	border-color:#333;
	outline:none;
}


